    
            /* You can add global styles to this file, and also import other style files */
            @import url('https://fonts.googleapis.com/css?family=Nova+Round|Monoton|Sonsie+One');/* font-family: 'Sonsie One', cursive;
            font-family: 'Monofett', cursive; */
            @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            *, html {
                padding: 0;
                margin: 0;
            }
            #root {
                background-color: #000;
                
            }
            .vertical-center {
                height: 100%;  /* Fallback for browsers do NOT support vh unit */
                height: 100vh; /* These two lines are counted as one :-)       */
                display: flex;
                align-items: center;
            }
            #title {
                text-align: center;
                color: #AD1457;
                font-size: 12rem;
                font-family: 'Monoton';
                z-index: 2;
                background-image: linear-gradient(to left, #F48FB1 50%, rgba(0,0,0,0) 50%);
                background-size: 200% 100%;
                background-repeat: no-repeat;
                background-position: bottom left;
                /** START THE TRANSITION RULES **/
                -webkit-transition: all 0.25s ease-in;
                -moz-transition: all 0.25s ease-in;
                transition: all 0.25s ease-in;
            }
            /* #title:hover {
            } */

            .bg-black {
                background-color: #111;
            }

            .modal-header {
                border-color: #111;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }

            .modal-content m{
                background-color: #111 !important;
            }

            #heart {
                color: #EC407A;
                font-size: 4500%;
                /* position: absolute; */
            }
            #subTitle {
                color: #880E4F;
                font-size: 100%;
                text-align: center;
                font-family: 'Nova Round';
                z-index: 300000;
                color: linear-gradient(to left, #9FA8DA 50%, #880E4F 50%);
                transition: all 0.5s ease-out;
            }
            #start {
                background-color: rgba(1, 100, 100, 0.6);
                color: #fff;
                /* margin-top: 9vh; */
                z-index: 0;
                padding: 1rem 2rem;
                font-size: 2rem;
                border-radius: 1rem;
                border: 3px solid rgba(200, 200, 200, 0.7);
                transition: all 0.5s ease-in;
            }
            .pc {
                transition: all 0.5s;
                display: none;
                padding: 2rem;
                font-family: 'Roboto';
            }
            .pc > h1 {
                text-align: center;
                font-size: 3rem;
                color: #333;
            }
            .nc {
                margin-top: 4vh;
            font-size: 1.5rem;
            }
            .nc > p {
                margin-left: -5vw;
            }
            form {
                font-size: 1.3rem;
                margin-top: 7vh;
                display: flex;
                flex-direction: column;
                align-content: space-around;
                align-items: center;
                justify-content: center;
            }
            .fc {
                display: flex;
                justify-content: space-between;
                width: 30vw;
            }
            #err {
                font-size: 1.5rem;
                color: #D50000;
                font-family: 'Monospace';
            }
            #success {
                font-size: 1.5rem;
                color: #00C853;
                font-family: 'Monospace';
            }
            @keyframes mutate {
                0% {color: #C51162}
                20% {color: #651FFF}
                40% {color: #1DE9B6}
                60% {color: #E65100}
                80% {color: #FFEA00}
                100% {color: #0D47A1}
            }
            #lh {
                font-size: 20rem;
                animation: mutate 5s infinite;
                /* color: #0f0; */

            }


        